@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?gd9cew');
  src: url('./assets/fonts/tomorrow.eot?gd9cew#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?gd9cew') format('truetype'),
    url('./assets/fonts/tomorrow.woff?gd9cew') format('woff'),
    url('./assets/fonts/tomorrow.svg?gd9cew#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
